/* Show it is fixed to the top */
body {
  padding-top: 3.5rem;
  font-family: 'Didact Gothic';font-size: 15px;
}

/* Navbar style */
.navbar {
  background-color: #f7f7f7;
  font-size: 19px;
}
.navbar .navbar-brand {
  color: #636363;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #2b2b2b;
}
.navbar .navbar-text {
  color: #636363;
}
.navbar .navbar-text a {
  color: #2b2b2b;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: cadetblue; 
}
.navbar .navbar-nav .nav-link {
  color: #636363;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: cadetblue;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: cadetblue;
  background-color: #ffffff;
}
.navbar .navbar-toggle {
  border-color: #ffffff;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #636363;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #636363;
}
.navbar .navbar-link {
  color: #636363;
}
.navbar .navbar-link:hover {
  color: #2b2b2b;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #636363;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #2b2b2b;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #2b2b2b;
    background-color: #ffffff;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #636363;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #2b2b2b;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #2b2b2b;
    background-color: #ffffff;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #636363;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #2b2b2b;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #2b2b2b;
    background-color: #ffffff;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #636363;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #2b2b2b;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #2b2b2b;
    background-color: #ffffff;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #636363;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #2b2b2b;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #2b2b2b;
  background-color: #ffffff;
}
/* End Navbar Style */

/* Jumbotron Style */
.jumbotron {
  padding-bottom: 3rem;
  margin-bottom: 0;
  padding-top: 6rem;
  /* padding-bottom: 6rem; */
  /* background-color: #fff; */
  background: linear-gradient(rgba(20,20,20,0.7), rgba(20,20,20,0.7)),url(img/bg.gif);  
  /* background-image: url('img/bg.gif'); */
  color: #f8f9fa;
  background-size: cover;
}

.jumbotron .text-muted-jumbotron {
  color: #f8f9fa;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: bold;  
}

.jumbotron .container {
  padding-top: 2rem;
  padding-bottom: 2rem;
  max-width: 40rem;
}
/* End Jumbotron Style */

/* Content Style */
main > .container {
  padding: 60px 15px 60px;
}
/* End Content Style */

/* Follow Use Style */
.follow-us {
  padding-bottom: 3rem;
  margin-bottom: 0;
  padding-top: 3rem;
  background-color: #ebebeb;
  /* background: linear-gradient(rgba(20,20,20,0.7), rgba(20,20,20,0.7)),url(img/bg.gif);   */
  /* background-image: url('img/bg.gif'); */
  color: #5b5c5c;
}

.follow-us .text-muted-follow-us {
  color: #f8f9fa;
}

@media (min-width: 768px) {
  .follow-us {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.follow-us p:last-child {
  margin-bottom: 0;
}

.follow-us-heading {
  font-weight: bold;  
}

.follow-us .container {
  max-width: 40rem;
}

.follow-us a:hover {
  text-decoration: none;
}
/* End Follow us */

/* Gabung Yuk Style */
.gabung-yuk {
  /* height: 500px; */
  padding-bottom: 0rem;
  margin-bottom: 0;
  padding-top: 0rem;
  background-color: #636363;
  background: linear-gradient(rgba(20,20,20,0.7), rgba(20,20,20,0.7)),url(img/bg-join.jpg) no-repeat;  
  /* background-image: url('img/bg.gif'); */
  background-size: cover;
}

.gabung-yuk .text-muted-gabung-yuk {
  
  color: #f8f9fa;
}

@media (min-width: 768px) {
  .gabung-yuk {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
}

.gabung-yuk p:last-child {
  margin-bottom: 0;
}

.gabung-yuk-heading {
  font-weight: bold;  
  color: #f8f9fa;
}

.gabung-yuk .container {
  padding-top: 10rem;
  padding-bottom: 10rem;
  max-width: 40rem;
}

.gabung-yuk a:hover {
  text-decoration: none;
}
/* End Gabung Yuk */

/* End Jumbotron Style */

/* Footer Style */
footer {
  padding-top: 2rem;
  padding-bottom: 3rem;
  color: #cdcdce;
  background-color: rgb(53, 58, 66);
}

footer p {
  margin-bottom: .25rem;  
}

footer .text-muted-footer {
  color: #f8f9fa;
}

footer a {
  color: aquamarine;
}

footer a:hover {
  color: cadetblue;
  text-decoration: none;
}

footer a:hover .image {
  opacity: 0.8;
}
/* End Footer Style */

/* Card */
.card {
  height: 350px;
}

.card a {
  color: #2b2b2b;
}

.card a:hover .image {
  opacity: 0.7;
}

.card a:hover .middle {
  opacity: 1;
}

.mainkan {
  color: white;
  font-size: 16px;
  padding: 2px 2px;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 27%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.card-text { height: 42px; overflow-x: scroll; width: 100%; }

.card-text p { width: 650px; word-break: break-word; }  
/* End Card Style */

/* Animation Fade In */
.animation {
  animation: fadein 3s;
  -moz-animation: fadein 3s; /* Firefox */
  -webkit-animation: fadein 3s; /* Safari and Chrome */
  -o-animation: fadein 3s; /* Opera */
}
@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}